<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= document.fileName %>
  </p>

  <p>
    <strong>Savepath:</strong>
    <%= document.savePath %>
  </p>

</div>
